:root {
  --color-brand-50: #e6f7fe;
  --color-brand-100: #b3e8fc;
  --color-brand-200: #80d9fa;
  --color-brand-300: #4dcaf8;
  --color-brand-400: #1abbf6;
  --color-brand-500: #00adee;
  --color-brand-600: #008cbf;
  --color-brand-700: #006a90;
  --color-brand-800: #004861;
  --color-brand-900: #002632;
  --color-brand-950: #001319;
}
